/* hResume-based stylesheet == Created by Brad Czerniak. Released into the public domain on 1/10/2008 */

/* Main elements and wrappers */
body {
	background-color:#bbb;
	font-family:Calibri, Tahoma, Arial, sans-serif;
	font-size:100%;
	font-style:normal;
	font-weight:400;
	font-size:12pt;
	}	
#content {
	padding: .4in .7in;
	margin:12px auto;
	background: #fcfcfc;
	border: 1px solid #444;
	width: 8.5in;
	}
html>body #content {
	width: 7.1in;
	}

#intro {
    font-family: 'Crimson Text', serif;
    font-style: italic;
	margin: 1em 0 2em 2em;
	font-size: 1.25em;
	color: #222;
}

#intro p {
    margin: 0 0 0 0;
}

/* Headings */
h1{
	font-size: 5em;
	letter-spacing: 4pt;
	margin:0;
	font-family: 'Francois One', serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px #aaa
	}
h2{
	border-bottom:1px solid #999;
	font-size:.75em;
	font-weight:normal;
	text-transform:lowercase;
	font-family: 'Francois One', serif;	
	margin-bottom:7px;
	}
h3{
	margin:0 0 2px 0;
	font-size:13pt;
	}
h4{
	margin:0;
	}

/* Hyperlinks */
a {
	text-decoration: none;
	color:  #004276;
	}
a:visited {
	color:  #004276;
	border-bottom:1px dashed #ccc;
	}
a:active {
	color:  #f78418;
	}
a:hover {
	color: #f78418;
	border-bottom:1px solid #ccc;
	}
h1 a{
	color:#f78418;
	border-bottom:0;
}
h1 a:visited{
	color:#f78418;
	border-bottom:0;
}
h1 a:hover{
	color:#004276;
	border-bottom:0;
}

/* Elementals */
abbr{
	border-bottom:0;
	}
ul{
	margin:1px 0 3px 0;
	}
	
/* class-specific styles */
.address{
	font-style:normal;
	font-size: 7.5pt;
	letter-spacing: 1pt;
	
	}
.coursework{
	margin-left:20px;
	padding-left:5px;
	border-left:2px solid #444;
	}
.datum{
	float:right;
	color:#bbb;
}
.email{
	font-weight:bold;
	text-transform:none;
	}
.experience .org{
	font-weight:bold;
	}
.experience .title{
	font-weight:bold;
	font-style:italic;
	}
#qualifications{
	margin-left:60px;
	}
.quals{
	margin-left:30px;
	}
.quals a{
	color:#000;
	}
.vcalendar{
	margin-left:60px;
	}
.vcalendar .url{
	font-weight:bold;
}

#community{
	margin-left:60px;
	}
	
#heart{
    margin-left: .2em;
}

#heart img{
    vertical-align: -5%;

}

#pdf {
    float: right;
}
